<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styleend.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Inscrição na Newsletter concluída</h1>
        <p>Fique de olho na na caixa de entrada em seu e-mail</p>
        <form action="/" method="get">
            <Label>Cadastrar outro e-mail</Label>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    
</body>
</html>